extends layout

block content
	div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
		div.container
			div.navbar-header
				a.navbar-brand(href="#")=title
	div.container
		div.row
			div.col-md-8
				div#map-canvas(style="width: 750px;height:300px;")
			div.col-md-4
				dev
					p 緯度
						span#lat
					p 軽度
						span#lng

	div.footer
		div.container
			p copyright PSS@2013

	script(type="text/javascript", src="javascripts/index.js")

